  <!-- Preload font yang paling penting (optional tapi recommended) -->
<link rel="preload" as="font" 
        href="/fonts/merriweather-v33-latin-regular.woff2" 
        type="font/woff2" 
        crossorigin>
  
<link rel="preload" as="font" 
        href="/fonts/ubuntu-v21-latin-regular.woff2" 
        type="font/woff2" 
        crossorigin>

<link rel="stylesheet" href="/css/custom.css">
<script defer src="https://cloud.umami.is/script.js" data-website-id="e8882eba-fabe-4ac5-aeb9-aa30d4ab63c2"></script>
{{ partial "seo-schema.html" . }}
